.chat-main
  .chat-main__group-info
    .info-bar
      .info-bar__group
        = @group.name
        .info-bar__group__member
          Member : 
          - @group.users.each do |user|
            = user.name
      = link_to edit_group_path(@group), class: "info-bar__edit" do
        Edit
  .chat-main__message-list
    = render @messages
    
  .form
    = form_with model: [@group, @message], html: {class: "form-area"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'