.side-bar
  .side-bar__header
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        = link_to new_group_path, class: "top-items__icon__list" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "top-items__icon__list" do
          = icon('fas', 'cog')
  .side-bar__group
    - current_user.groups.each do |group|
      .group-menu
        = link_to group_messages_path(group)  do
          .group-menu__name
            = group.name  
          .group-menu__message
            = group.show_last_message